@import url('https://fonts.googleapis.com/css2?family=Syne:wght@600&display=swap');

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Syne', sans-serif;
    overflow:hidden;
}

.circle{
    position: absolute;
    border-radius: 50%;
    background-color: aqua;
}

.small{
    height:400px;
    width:400px;
    margin-left: -250px;
    margin-top: -20px;
}

.big{
    height:700px;
    width:700px;
    margin-left:1250px;
    margin-top: 175px;
}

body{
    background: black;
}

#container{
    margin:auto;
    width:60%;
    height:100%;
    background: black;
}

#heading{
    text-align: center;
    font-size: 50px;
    font-weight: 1000;
    color:white;
}

#clock{
    background-color: white;
    position: relative;
    left:322.56px;
    width:30%;
    height:60px;
    text-align: center;
    border-color:white;
    box-shadow: 5px 5px aqua;
    display:flex;
    justify-content: center;
    align-items: center;
    color:black;
    font-weight: 800;
}



#buttons{
    position: relative;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin-left: 20%;
    margin-right: 20%;
    grid-gap:7.5px;
    padding:15px;
}

.button{
    box-shadow: 4px 4px aqua;
    transition: all 0.1s ease-in-out 0.1s;
}

.button:hover{
    box-shadow: none;
    transform: scale(0.99);
}

.button:hover{
    cursor: pointer;
}

#saved{
    color:white;
    font-size: 20px;
    text-align: center;
    font-weight: 1000;
}

#watch{
    color:aqua
}

@media screen and (max-width: 600px) {
    #screen {
      background-color: lightgreen;
    }
  }